.Header.mainContainer {
	position: sticky;
	top: 0;
	z-index: 1000;
  /* background-color: #313131; */
  background-color: #cc0000;
  border-bottom: black 3pt solid;
}

.Header.container {
	height: 50px;
	display: flex;
	align-items: center;
}

.Link.Header {
	margin-right: auto;
}

h1.Header {
	text-align: center;
	font-size: 1.25rem;
  margin: 0;
  color: whitesmoke;
}

@media screen and (min-width: 350px) {
  h1.Header {
    font-size: 1.5rem;
  }
} 
