
img.Single {
  align-self: center;
}

.Single.mainContainer {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Single.header, .Single.h3 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-self: flex-end;
}

.badge {
  margin-left: 1em;
}

.Single.userSavedFields {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.Single.notes {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.Single.Notes > p {
  display: block;
}

.Single.notes > form {
  width: 100%;
}

button.notes {
  margin: 1em 1em 1em 0;
}

.Single.editButton {
  margin-left: auto;
}

.Single.types {
  margin-right: 1em;
}

div.Single.notes {
  margin: 10px 0;
}

p.notesText {
  padding: 10px;

}