img.Results {
  background-color: #9fd7f1;
  border: 1pt solid gray;
}
ul.Results {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 20px;
  row-gap: 20px;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; */
}

li.Results {
  width: 100%;
  height: 100%;
}

.Link.Header {
  margin-right: auto;
}

/* .SearchBar.mainContainer {
  margin-left: calc((100% - 400px) / 2);
}
input.SearchBar {
  width: 200px;
} */
.view {
  max-width: 600px;
  margin-left: calc((100vw - 600px) / 2);
}

.error {
  color: red;
  font-size: .75em;
  font-style: italic;
}

.spinner-grow {
  padding: 1em;
  margin: 1em;
}

.Results.mainContainer, .Single.mainContainer {
  margin-top: 2em;
}

.pokemonNameCard {
  font-size: 9pt;
  text-transform: uppercase;
  letter-spacing: .5px;
}